body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 650px;
    margin: auto;

    .nav {
        position: relative;

        .nav-link {
            cursor: pointer;
            background-color: transparent;
            border: none;
            padding: 20px;
            color: pink;
            font-size: 25px;
            display: inline-block;
            transition: all 0.5s ease;
            &.active {
                color: black;
                transition: all 0.5s ease;

                i {
                    color: rgb(187, 105, 119);

                }
            }

            &:hover {
                color: black;
                transition: all 0.5s ease;
                border-radius: 5px;
                background-color: rgba($color: pink, $alpha: .2);
                i {
                    color: rgb(187, 105, 119);

                }
                position: relative;
                &::after{
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 5px;
                    background-color:rgba($color: pink, $alpha: 0.5);
                    bottom: 0;
                    left: 0;
                }
            }

            .icon--rotate{
                transform: rotateX(175deg);
            }
          
        }

        .line {
            position: absolute;
            width: 135px;
            height: 5px;
            background-color: rgb(187, 105, 119);
            left: 0;
            transition: all 0.5 ease-in;
            border-radius: 5px;
            bottom: 0;
            transition: all 0.5s ease;

        }
    }

    .tab-content {
        .tab-pane {
            display: none;

            &.active {
                display: block;
            }

            h2 {
                font-size: 30px;
            }
        }
    }
}